---
title: "\"[New] In-Depth GoPro Hero5 Testing Report\""
date: 2024-07-26T13:33:29.087Z
updated: 2024-07-27T13:33:29.087Z
tags: 
  - screen-recording
  - ai video
  - ai audio
  - ai auto
categories: 
  - ai
  - screen
description: "\"This Article Describes [New] In-Depth GoPro Hero5 Testing Report\""
excerpt: "\"This Article Describes [New] In-Depth GoPro Hero5 Testing Report\""
keywords: "GoPro Hero5 Review,Hero5 Camera Test,Hero5 Performance,GoPro Hero5 Analysis,Hero5 Waterproof Testing,GoPro Hero5 Features,Hero5 Video Quality"
thumbnail: https://thmb.techidaily.com/d3a69700e0cb55adae67e72e210fb2f2a9d54f1a94f5e0b261b4ccf5f3207b46.jpg
---

## In-Depth GoPro Hero5 Testing Report

# GoPro Hero5 Session Review

![author avatar](https://images.wondershare.com/filmora/article-images/max-wales-author.jpg)

##### Max Wales

 Mar 27, 2024• Proven solutions

 If you are in search of action cameras then [GoPro](https://tools.techidaily.com/wondershare/filmora/download/) is best brand for you. It offers high tech cameras with all amazing features and variable price ranges so you can easily find one that suits your needs. GoPro Hero5 Session camera is rated as one of the best devices with reasonable price range; so it is good to check few awesome details about this device.

 Want to know which GoPro to buy? Here is a [complete comparison >>](https://tools.techidaily.com/wondershare/filmora/download/)

**You may also like:** [Top 15 Best Action Cameras >>](https://tools.techidaily.com/wondershare/filmora/download/)

 It is a light weight, small size device with cube shape design that can shoot highly stabilized videos even with 4k resolution. With payment of $299.99, you can avail 4k recording abilities along 1080p at 90fps, 720p at 120fps. If this device is little above then your budget then you can also look for [GoPro Hero4 session](https://tools.techidaily.com/wondershare/filmora/download/) that is the previous version and will be priced $100 less than that of Hero5 session. If your budget is on higher side then prefer to buy [Hero5 Black](https://tools.techidaily.com/wondershare/filmora/download/) that is priced at $399.99 with all amazing features.

 See [Hero Session 5 VS Hero Session 4 >>.](https://tools.techidaily.com/wondershare/filmora/download/)

[For most of action camera lovers Hero5 session will be the best choice so below you will get some of the essential details about your favorite device:](https://tools.techidaily.com/wondershare/filmora/download/)

<!-- affiliate ads begin -->
<a href="https://shop.manycam.com/order/checkout.php?PRODS=17729331&QTY=1&AFFILIATE=108875&CART=1"><img src="https://secure.avangate.com/images/merchant/8230bea7d54bcdf99cdfe85cb07313d5/mcaffbanner600x500.png" border="0"></a>
<!-- affiliate ads end -->
## Specs Table:

| **Product Name**                                                            | GoPro Hero5 Session                                                    |                      |                             |
| --------------------------------------------------------------------------- | ---------------------------------------------------------------------- | -------------------- | --------------------------- |
| **Manufacture**                                                             | GoPro (USA)                                                            |                      |                             |
| **Date available**                                                          | 2 October 2016                                                         |                      |                             |
| **Price:**                                                                  | Official:$299                                                          |                      |                             |
| **Basic Specification**                                                     |                                                                        |                      |                             |
| **Parameters**                                                              | **Details**                                                            | **Parameters**       | **Details**                 |
| **Weight**                                                                  | 73g only                                                               | **Shape**            | Box                         |
| **Memory**                                                                  | SDXC cards with 128GB storage and Micro SD (Class 10)                  | **Dimensions**       | 38x38x36mm                  |
| **Battery**                                                                 | 1000mAh (with 4K resolution it offers 1 hour 40 minute recording time) | **Waterproof**       | 10 meters (without housing) |
| **Image resolution**                                                        | Up to 10mp                                                             | **Video resolution** | Up to 4k at30fps            |
| **Display**                                                                 | No                                                                     | **Modes**            | WIFI and Bluetooth          |
| **Other Features**                                                          | Voice Control                                                          |                      |                             |
| Advanced Digital video stabilization                                        |                                                                        |                      |                             |
| Simple one-button type control                                              |                                                                        |                      |                             |
| ultra wide, Super view, narrow, medium as well as new linear field of views |                                                                        |                      |                             |
| Advanced reduction capability towards wind-noise                            |                                                                        |                      |                             |
| Auto image rotation facility                                                |                                                                        |                      |                             |
| Auto low-light mode available                                               |                                                                        |                      |                             |
| Time lapse video can be generated                                           |                                                                        |                      |                             |

## Pros and Cons:

| **Pros**                                              | **Cons**                               |
| ----------------------------------------------------- | -------------------------------------- |
| Voice commands show amazing results                   | No RAW or WDR support for still images |
| Excellent video quality                               | Non-removable type battery             |
| Advanced Digital image stabilization feature included | GPS facility is not available          |
| Sensitive dual microphones are available              | No viewfinder                          |
| Waterproof (10m without case)                         | \-                                     |
| Compact size                                          | \-                                     |

## Complete Review

#### What is inside the Box?

[If you are ready to buy GoPro Hero5 session Camera then you can expect following things with your device when you will unbox it:](https://tools.techidaily.com/wondershare/filmora/download/)

* [The box will have one standard frame.](https://tools.techidaily.com/wondershare/filmora/download/)
* [It comes with flat as well as curved adhesive mounts that allows users to capture scenes in all difficult locations.](https://tools.techidaily.com/wondershare/filmora/download/)
* [Mounting Buckle will be included.](https://tools.techidaily.com/wondershare/filmora/download/)
* [USB-C cable is added.](https://tools.techidaily.com/wondershare/filmora/download/)
* [Some video samples will be available.](https://tools.techidaily.com/wondershare/filmora/download/)

[Check at Amazon](https://www.amazon.com/gp/product/B01LZTLCFX/ref=as%5Fli%5Ftl?ie=UTF8&tag=vs-flora-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=B01LZTLCFX&linkId=ea1830f57bf7ee4f930b77258f8b3654
)

#### Design and Accessories

 The highlights related to design and accessories can be presented as:

* 38mm or 1.5” cube shaped design helps users in obstructive mounting.
* This device provides impressive results when connected to GoPro Karma Drone.
* It is waterproof up to 10m or 33 feet.
* USB-C charging facility is available but battery is fixed.

 The GoPro camera units are well known for their well shaped rectangular design but this session camera was launched with attractive cube shape. With just a single easy to operate button you can easily start and stop recording whereas tiny LCD panel helps to view recording on the go. This structure is less complicated and users can even change settings to preferable mode from Android or iOS device.

#### Video and Photo Quality

 Few highlights are:

* It serves with 4K resolution for videos.
* This device is designed with total five fields of view where 3 of these are introductory.
* 10MP stills can be captured at 30fps frame rate.

 With all pretty features, GoPro Hero5 Session provides 4K resolutions at 30fps rate whereas this rate can be increased up to 90fps in case of 1080p recording. You will be glad to know about its advanced digital stabilization feature and the most exciting part is its vibration mode that gets automatically switched On when you are about the start the camera or when you switch recording Off. You can also switch off the vibrations at the time of video recording to capture much smoother details. Even if you want to capture videos while riding a cycle then also this camera can result in breathtaking view because it possesses advanced wind noise reduction ability.

 Users are excited about its several field of view modes that are: Medium, Wide, Narrow, Linear and Super view. You will be surprised to know that this small camera unit can record videos in super view mode so that you can avail extra wide coverage. One more appreciable feature is its low light video shooting mode that can provide satisfactory results with perfect video quality support.

#### Connectivity and Apps

 Some of the incredible connectivity options along with app supports are discussed as below:

 **Wi-Fi:**

 This latest camera from GoPro is designed to serve users with active Wi-Fi and Bluetooth support. Users can also connect it with iOS and Android device using GoPro Capture Application that activates remote control feature. With this type of connectivity you can also adjust camera settings directly from your phone that means a live view of camera screen will be generated on your mobile device.

 **GoPro Plus:**

 This name is given to a latest cloud based subscription of GoPro series so that users can publish their recorded videos directly on internet. Whenever you plug-in your Hero5 devices whether it is session or black, this cloud based application will allow you to access photo or video uploading facility instantly. It makes use of Home Wi-Fi network to enable this uploading. After this your footage will get stored on GoPro Plus account and it can be easily accessed from official website of GoPro. These uploaded videos will also be accessible on mobile devices as well as on desktop with the help of Quick application.

 **Quick:**

 This application is designed for Mobile as well as desktop users and allows fast as well as efficient editing features for all recorded videos. Users simply need to select highlights and then they can be easily edited to embed music into them or just to cut or trim to match certain timing requirements. The content that is stored on GoPro Account can also be accessed from quick App on portable devices.

**Note** that Users can also try GoPro Plus application for two months without making any payment as manufacturers have provided a free trial version whereas for complete feature access you need to pay $5 per month.

## The Bottom Line

 Some of you may say that GroPro Hero5 Session is not having all fancy features but it is one of the most widely purchases action camera unit in market. This is simply the best device at reasonable price range and the video as well as image quality is amazing. The cube shape of this device is really attractive with tiny body that you can carry anywhere with ease. It is time to order your Hero5 session device online and soon you will be able to record your all adventurous trips with awesome capture quality. The waterproof and damage proof construction is itself an edge over all competing devices.

<!-- affiliate ads begin -->
<a href="https://secure.2checkout.com/order/checkout.php?PRODS=45152835&QTY=1&AFFILIATE=108875&CART=1"><img src="https://download.terabyteunlimited.com/banners/ad_800x450_d.jpg" border="0"></a>
<!-- affiliate ads end -->
![author avatar](https://images.wondershare.com/filmora/article-images/max-wales-author.jpg)

Max Wales

Max Wales is a writer and a lover of all things video.

Follow @Max Wales

##### Max Wales

 Mar 27, 2024• Proven solutions

 If you are in search of action cameras then [GoPro](https://tools.techidaily.com/wondershare/filmora/download/) is best brand for you. It offers high tech cameras with all amazing features and variable price ranges so you can easily find one that suits your needs. GoPro Hero5 Session camera is rated as one of the best devices with reasonable price range; so it is good to check few awesome details about this device.

 Want to know which GoPro to buy? Here is a [complete comparison >>](https://tools.techidaily.com/wondershare/filmora/download/)

**You may also like:** [Top 15 Best Action Cameras >>](https://tools.techidaily.com/wondershare/filmora/download/)

 It is a light weight, small size device with cube shape design that can shoot highly stabilized videos even with 4k resolution. With payment of $299.99, you can avail 4k recording abilities along 1080p at 90fps, 720p at 120fps. If this device is little above then your budget then you can also look for [GoPro Hero4 session](https://tools.techidaily.com/wondershare/filmora/download/) that is the previous version and will be priced $100 less than that of Hero5 session. If your budget is on higher side then prefer to buy [Hero5 Black](https://tools.techidaily.com/wondershare/filmora/download/) that is priced at $399.99 with all amazing features.

 See [Hero Session 5 VS Hero Session 4 >>.](https://tools.techidaily.com/wondershare/filmora/download/)

[For most of action camera lovers Hero5 session will be the best choice so below you will get some of the essential details about your favorite device:](https://tools.techidaily.com/wondershare/filmora/download/)

<!-- affiliate ads begin -->
<a href="https://mindmanager.sjv.io/c/5597632/1787667/20231" target="_top" id="1787667"><img src="//a.impactradius-go.com/display-ad/20231-1787667" border="0" alt="" width="728" height="90"/></a><img height="0" width="0" src="https://imp.pxf.io/i/5597632/1787667/20231" style="position:absolute;visibility:hidden;" border="0" />
<!-- affiliate ads end -->
## Specs Table:

| **Product Name**                                                            | GoPro Hero5 Session                                                    |                      |                             |
| --------------------------------------------------------------------------- | ---------------------------------------------------------------------- | -------------------- | --------------------------- |
| **Manufacture**                                                             | GoPro (USA)                                                            |                      |                             |
| **Date available**                                                          | 2 October 2016                                                         |                      |                             |
| **Price:**                                                                  | Official:$299                                                          |                      |                             |
| **Basic Specification**                                                     |                                                                        |                      |                             |
| **Parameters**                                                              | **Details**                                                            | **Parameters**       | **Details**                 |
| **Weight**                                                                  | 73g only                                                               | **Shape**            | Box                         |
| **Memory**                                                                  | SDXC cards with 128GB storage and Micro SD (Class 10)                  | **Dimensions**       | 38x38x36mm                  |
| **Battery**                                                                 | 1000mAh (with 4K resolution it offers 1 hour 40 minute recording time) | **Waterproof**       | 10 meters (without housing) |
| **Image resolution**                                                        | Up to 10mp                                                             | **Video resolution** | Up to 4k at30fps            |
| **Display**                                                                 | No                                                                     | **Modes**            | WIFI and Bluetooth          |
| **Other Features**                                                          | Voice Control                                                          |                      |                             |
| Advanced Digital video stabilization                                        |                                                                        |                      |                             |
| Simple one-button type control                                              |                                                                        |                      |                             |
| ultra wide, Super view, narrow, medium as well as new linear field of views |                                                                        |                      |                             |
| Advanced reduction capability towards wind-noise                            |                                                                        |                      |                             |
| Auto image rotation facility                                                |                                                                        |                      |                             |
| Auto low-light mode available                                               |                                                                        |                      |                             |
| Time lapse video can be generated                                           |                                                                        |                      |                             |

## Pros and Cons:

| **Pros**                                              | **Cons**                               |
| ----------------------------------------------------- | -------------------------------------- |
| Voice commands show amazing results                   | No RAW or WDR support for still images |
| Excellent video quality                               | Non-removable type battery             |
| Advanced Digital image stabilization feature included | GPS facility is not available          |
| Sensitive dual microphones are available              | No viewfinder                          |
| Waterproof (10m without case)                         | \-                                     |
| Compact size                                          | \-                                     |

## Complete Review

#### What is inside the Box?

[If you are ready to buy GoPro Hero5 session Camera then you can expect following things with your device when you will unbox it:](https://tools.techidaily.com/wondershare/filmora/download/)

* [The box will have one standard frame.](https://tools.techidaily.com/wondershare/filmora/download/)
* [It comes with flat as well as curved adhesive mounts that allows users to capture scenes in all difficult locations.](https://tools.techidaily.com/wondershare/filmora/download/)
* [Mounting Buckle will be included.](https://tools.techidaily.com/wondershare/filmora/download/)
* [USB-C cable is added.](https://tools.techidaily.com/wondershare/filmora/download/)
* [Some video samples will be available.](https://tools.techidaily.com/wondershare/filmora/download/)

[Check at Amazon](https://www.amazon.com/gp/product/B01LZTLCFX/ref=as%5Fli%5Ftl?ie=UTF8&tag=vs-flora-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=B01LZTLCFX&linkId=ea1830f57bf7ee4f930b77258f8b3654
)

#### Design and Accessories

 The highlights related to design and accessories can be presented as:

* 38mm or 1.5” cube shaped design helps users in obstructive mounting.
* This device provides impressive results when connected to GoPro Karma Drone.
* It is waterproof up to 10m or 33 feet.
* USB-C charging facility is available but battery is fixed.

 The GoPro camera units are well known for their well shaped rectangular design but this session camera was launched with attractive cube shape. With just a single easy to operate button you can easily start and stop recording whereas tiny LCD panel helps to view recording on the go. This structure is less complicated and users can even change settings to preferable mode from Android or iOS device.

#### Video and Photo Quality

 Few highlights are:

* It serves with 4K resolution for videos.
* This device is designed with total five fields of view where 3 of these are introductory.
* 10MP stills can be captured at 30fps frame rate.

 With all pretty features, GoPro Hero5 Session provides 4K resolutions at 30fps rate whereas this rate can be increased up to 90fps in case of 1080p recording. You will be glad to know about its advanced digital stabilization feature and the most exciting part is its vibration mode that gets automatically switched On when you are about the start the camera or when you switch recording Off. You can also switch off the vibrations at the time of video recording to capture much smoother details. Even if you want to capture videos while riding a cycle then also this camera can result in breathtaking view because it possesses advanced wind noise reduction ability.

 Users are excited about its several field of view modes that are: Medium, Wide, Narrow, Linear and Super view. You will be surprised to know that this small camera unit can record videos in super view mode so that you can avail extra wide coverage. One more appreciable feature is its low light video shooting mode that can provide satisfactory results with perfect video quality support.

#### Connectivity and Apps

 Some of the incredible connectivity options along with app supports are discussed as below:

 **Wi-Fi:**

 This latest camera from GoPro is designed to serve users with active Wi-Fi and Bluetooth support. Users can also connect it with iOS and Android device using GoPro Capture Application that activates remote control feature. With this type of connectivity you can also adjust camera settings directly from your phone that means a live view of camera screen will be generated on your mobile device.

 **GoPro Plus:**

 This name is given to a latest cloud based subscription of GoPro series so that users can publish their recorded videos directly on internet. Whenever you plug-in your Hero5 devices whether it is session or black, this cloud based application will allow you to access photo or video uploading facility instantly. It makes use of Home Wi-Fi network to enable this uploading. After this your footage will get stored on GoPro Plus account and it can be easily accessed from official website of GoPro. These uploaded videos will also be accessible on mobile devices as well as on desktop with the help of Quick application.

 **Quick:**

 This application is designed for Mobile as well as desktop users and allows fast as well as efficient editing features for all recorded videos. Users simply need to select highlights and then they can be easily edited to embed music into them or just to cut or trim to match certain timing requirements. The content that is stored on GoPro Account can also be accessed from quick App on portable devices.

**Note** that Users can also try GoPro Plus application for two months without making any payment as manufacturers have provided a free trial version whereas for complete feature access you need to pay $5 per month.

<!-- affiliate ads begin -->
<a href="https://ukaidot.sjv.io/c/5597632/1793233/19578" target="_top" id="1793233"><img src="//a.impactradius-go.com/display-ad/19578-1793233" border="0" alt="" width="1200" height="1200"/></a><img height="0" width="0" src="https://imp.pxf.io/i/5597632/1793233/19578" style="position:absolute;visibility:hidden;" border="0" />
<!-- affiliate ads end -->
## The Bottom Line

 Some of you may say that GroPro Hero5 Session is not having all fancy features but it is one of the most widely purchases action camera unit in market. This is simply the best device at reasonable price range and the video as well as image quality is amazing. The cube shape of this device is really attractive with tiny body that you can carry anywhere with ease. It is time to order your Hero5 session device online and soon you will be able to record your all adventurous trips with awesome capture quality. The waterproof and damage proof construction is itself an edge over all competing devices.

![author avatar](https://images.wondershare.com/filmora/article-images/max-wales-author.jpg)

Max Wales

Max Wales is a writer and a lover of all things video.

Follow @Max Wales

##### Max Wales

 Mar 27, 2024• Proven solutions

 If you are in search of action cameras then [GoPro](https://tools.techidaily.com/wondershare/filmora/download/) is best brand for you. It offers high tech cameras with all amazing features and variable price ranges so you can easily find one that suits your needs. GoPro Hero5 Session camera is rated as one of the best devices with reasonable price range; so it is good to check few awesome details about this device.

 Want to know which GoPro to buy? Here is a [complete comparison >>](https://tools.techidaily.com/wondershare/filmora/download/)

**You may also like:** [Top 15 Best Action Cameras >>](https://tools.techidaily.com/wondershare/filmora/download/)

 It is a light weight, small size device with cube shape design that can shoot highly stabilized videos even with 4k resolution. With payment of $299.99, you can avail 4k recording abilities along 1080p at 90fps, 720p at 120fps. If this device is little above then your budget then you can also look for [GoPro Hero4 session](https://tools.techidaily.com/wondershare/filmora/download/) that is the previous version and will be priced $100 less than that of Hero5 session. If your budget is on higher side then prefer to buy [Hero5 Black](https://tools.techidaily.com/wondershare/filmora/download/) that is priced at $399.99 with all amazing features.

 See [Hero Session 5 VS Hero Session 4 >>.](https://tools.techidaily.com/wondershare/filmora/download/)

[For most of action camera lovers Hero5 session will be the best choice so below you will get some of the essential details about your favorite device:](https://tools.techidaily.com/wondershare/filmora/download/)

## Specs Table:

| **Product Name**                                                            | GoPro Hero5 Session                                                    |                      |                             |
| --------------------------------------------------------------------------- | ---------------------------------------------------------------------- | -------------------- | --------------------------- |
| **Manufacture**                                                             | GoPro (USA)                                                            |                      |                             |
| **Date available**                                                          | 2 October 2016                                                         |                      |                             |
| **Price:**                                                                  | Official:$299                                                          |                      |                             |
| **Basic Specification**                                                     |                                                                        |                      |                             |
| **Parameters**                                                              | **Details**                                                            | **Parameters**       | **Details**                 |
| **Weight**                                                                  | 73g only                                                               | **Shape**            | Box                         |
| **Memory**                                                                  | SDXC cards with 128GB storage and Micro SD (Class 10)                  | **Dimensions**       | 38x38x36mm                  |
| **Battery**                                                                 | 1000mAh (with 4K resolution it offers 1 hour 40 minute recording time) | **Waterproof**       | 10 meters (without housing) |
| **Image resolution**                                                        | Up to 10mp                                                             | **Video resolution** | Up to 4k at30fps            |
| **Display**                                                                 | No                                                                     | **Modes**            | WIFI and Bluetooth          |
| **Other Features**                                                          | Voice Control                                                          |                      |                             |
| Advanced Digital video stabilization                                        |                                                                        |                      |                             |
| Simple one-button type control                                              |                                                                        |                      |                             |
| ultra wide, Super view, narrow, medium as well as new linear field of views |                                                                        |                      |                             |
| Advanced reduction capability towards wind-noise                            |                                                                        |                      |                             |
| Auto image rotation facility                                                |                                                                        |                      |                             |
| Auto low-light mode available                                               |                                                                        |                      |                             |
| Time lapse video can be generated                                           |                                                                        |                      |                             |

<!-- affiliate ads begin -->
<a href="https://aidotcom.pxf.io/c/5597632/2086436/19576" target="_top" id="2086436"><img src="//a.impactradius-go.com/display-ad/19576-2086436" border="0" alt="" width="1500" height="400"/></a><img height="0" width="0" src="https://imp.pxf.io/i/5597632/2086436/19576" style="position:absolute;visibility:hidden;" border="0" />
<!-- affiliate ads end -->
## Pros and Cons:

| **Pros**                                              | **Cons**                               |
| ----------------------------------------------------- | -------------------------------------- |
| Voice commands show amazing results                   | No RAW or WDR support for still images |
| Excellent video quality                               | Non-removable type battery             |
| Advanced Digital image stabilization feature included | GPS facility is not available          |
| Sensitive dual microphones are available              | No viewfinder                          |
| Waterproof (10m without case)                         | \-                                     |
| Compact size                                          | \-                                     |

## Complete Review

#### What is inside the Box?

[If you are ready to buy GoPro Hero5 session Camera then you can expect following things with your device when you will unbox it:](https://tools.techidaily.com/wondershare/filmora/download/)

* [The box will have one standard frame.](https://tools.techidaily.com/wondershare/filmora/download/)
* [It comes with flat as well as curved adhesive mounts that allows users to capture scenes in all difficult locations.](https://tools.techidaily.com/wondershare/filmora/download/)
* [Mounting Buckle will be included.](https://tools.techidaily.com/wondershare/filmora/download/)
* [USB-C cable is added.](https://tools.techidaily.com/wondershare/filmora/download/)
* [Some video samples will be available.](https://tools.techidaily.com/wondershare/filmora/download/)

[Check at Amazon](https://www.amazon.com/gp/product/B01LZTLCFX/ref=as%5Fli%5Ftl?ie=UTF8&tag=vs-flora-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=B01LZTLCFX&linkId=ea1830f57bf7ee4f930b77258f8b3654
)

#### Design and Accessories

 The highlights related to design and accessories can be presented as:

* 38mm or 1.5” cube shaped design helps users in obstructive mounting.
* This device provides impressive results when connected to GoPro Karma Drone.
* It is waterproof up to 10m or 33 feet.
* USB-C charging facility is available but battery is fixed.

 The GoPro camera units are well known for their well shaped rectangular design but this session camera was launched with attractive cube shape. With just a single easy to operate button you can easily start and stop recording whereas tiny LCD panel helps to view recording on the go. This structure is less complicated and users can even change settings to preferable mode from Android or iOS device.

#### Video and Photo Quality

 Few highlights are:

* It serves with 4K resolution for videos.
* This device is designed with total five fields of view where 3 of these are introductory.
* 10MP stills can be captured at 30fps frame rate.

 With all pretty features, GoPro Hero5 Session provides 4K resolutions at 30fps rate whereas this rate can be increased up to 90fps in case of 1080p recording. You will be glad to know about its advanced digital stabilization feature and the most exciting part is its vibration mode that gets automatically switched On when you are about the start the camera or when you switch recording Off. You can also switch off the vibrations at the time of video recording to capture much smoother details. Even if you want to capture videos while riding a cycle then also this camera can result in breathtaking view because it possesses advanced wind noise reduction ability.

 Users are excited about its several field of view modes that are: Medium, Wide, Narrow, Linear and Super view. You will be surprised to know that this small camera unit can record videos in super view mode so that you can avail extra wide coverage. One more appreciable feature is its low light video shooting mode that can provide satisfactory results with perfect video quality support.

#### Connectivity and Apps

 Some of the incredible connectivity options along with app supports are discussed as below:

 **Wi-Fi:**

 This latest camera from GoPro is designed to serve users with active Wi-Fi and Bluetooth support. Users can also connect it with iOS and Android device using GoPro Capture Application that activates remote control feature. With this type of connectivity you can also adjust camera settings directly from your phone that means a live view of camera screen will be generated on your mobile device.

 **GoPro Plus:**

 This name is given to a latest cloud based subscription of GoPro series so that users can publish their recorded videos directly on internet. Whenever you plug-in your Hero5 devices whether it is session or black, this cloud based application will allow you to access photo or video uploading facility instantly. It makes use of Home Wi-Fi network to enable this uploading. After this your footage will get stored on GoPro Plus account and it can be easily accessed from official website of GoPro. These uploaded videos will also be accessible on mobile devices as well as on desktop with the help of Quick application.

 **Quick:**

 This application is designed for Mobile as well as desktop users and allows fast as well as efficient editing features for all recorded videos. Users simply need to select highlights and then they can be easily edited to embed music into them or just to cut or trim to match certain timing requirements. The content that is stored on GoPro Account can also be accessed from quick App on portable devices.

**Note** that Users can also try GoPro Plus application for two months without making any payment as manufacturers have provided a free trial version whereas for complete feature access you need to pay $5 per month.

## The Bottom Line

 Some of you may say that GroPro Hero5 Session is not having all fancy features but it is one of the most widely purchases action camera unit in market. This is simply the best device at reasonable price range and the video as well as image quality is amazing. The cube shape of this device is really attractive with tiny body that you can carry anywhere with ease. It is time to order your Hero5 session device online and soon you will be able to record your all adventurous trips with awesome capture quality. The waterproof and damage proof construction is itself an edge over all competing devices.

![author avatar](https://images.wondershare.com/filmora/article-images/max-wales-author.jpg)

Max Wales

Max Wales is a writer and a lover of all things video.

Follow @Max Wales

##### Max Wales

 Mar 27, 2024• Proven solutions

 If you are in search of action cameras then [GoPro](https://tools.techidaily.com/wondershare/filmora/download/) is best brand for you. It offers high tech cameras with all amazing features and variable price ranges so you can easily find one that suits your needs. GoPro Hero5 Session camera is rated as one of the best devices with reasonable price range; so it is good to check few awesome details about this device.

 Want to know which GoPro to buy? Here is a [complete comparison >>](https://tools.techidaily.com/wondershare/filmora/download/)

**You may also like:** [Top 15 Best Action Cameras >>](https://tools.techidaily.com/wondershare/filmora/download/)

 It is a light weight, small size device with cube shape design that can shoot highly stabilized videos even with 4k resolution. With payment of $299.99, you can avail 4k recording abilities along 1080p at 90fps, 720p at 120fps. If this device is little above then your budget then you can also look for [GoPro Hero4 session](https://tools.techidaily.com/wondershare/filmora/download/) that is the previous version and will be priced $100 less than that of Hero5 session. If your budget is on higher side then prefer to buy [Hero5 Black](https://tools.techidaily.com/wondershare/filmora/download/) that is priced at $399.99 with all amazing features.

 See [Hero Session 5 VS Hero Session 4 >>.](https://tools.techidaily.com/wondershare/filmora/download/)

[For most of action camera lovers Hero5 session will be the best choice so below you will get some of the essential details about your favorite device:](https://tools.techidaily.com/wondershare/filmora/download/)

<!-- affiliate ads begin -->
<a href="https://ancheer.sjv.io/c/5597632/1657301/17326" target="_top" id="1657301"><img src="//a.impactradius-go.com/display-ad/17326-1657301" border="0" alt="" width="1920" height="933"/></a><img height="0" width="0" src="https://imp.pxf.io/i/5597632/1657301/17326" style="position:absolute;visibility:hidden;" border="0" />
<!-- affiliate ads end -->
## Specs Table:

| **Product Name**                                                            | GoPro Hero5 Session                                                    |                      |                             |
| --------------------------------------------------------------------------- | ---------------------------------------------------------------------- | -------------------- | --------------------------- |
| **Manufacture**                                                             | GoPro (USA)                                                            |                      |                             |
| **Date available**                                                          | 2 October 2016                                                         |                      |                             |
| **Price:**                                                                  | Official:$299                                                          |                      |                             |
| **Basic Specification**                                                     |                                                                        |                      |                             |
| **Parameters**                                                              | **Details**                                                            | **Parameters**       | **Details**                 |
| **Weight**                                                                  | 73g only                                                               | **Shape**            | Box                         |
| **Memory**                                                                  | SDXC cards with 128GB storage and Micro SD (Class 10)                  | **Dimensions**       | 38x38x36mm                  |
| **Battery**                                                                 | 1000mAh (with 4K resolution it offers 1 hour 40 minute recording time) | **Waterproof**       | 10 meters (without housing) |
| **Image resolution**                                                        | Up to 10mp                                                             | **Video resolution** | Up to 4k at30fps            |
| **Display**                                                                 | No                                                                     | **Modes**            | WIFI and Bluetooth          |
| **Other Features**                                                          | Voice Control                                                          |                      |                             |
| Advanced Digital video stabilization                                        |                                                                        |                      |                             |
| Simple one-button type control                                              |                                                                        |                      |                             |
| ultra wide, Super view, narrow, medium as well as new linear field of views |                                                                        |                      |                             |
| Advanced reduction capability towards wind-noise                            |                                                                        |                      |                             |
| Auto image rotation facility                                                |                                                                        |                      |                             |
| Auto low-light mode available                                               |                                                                        |                      |                             |
| Time lapse video can be generated                                           |                                                                        |                      |                             |

<!-- affiliate ads begin -->
<a href="https://secure.2checkout.com/order/checkout.php?PRODS=2337838&QTY=1&AFFILIATE=108875&CART=1"><iframe width="640" height="390" src="https://www.youtube.com/embed/rzZwphIv4RM" title="APFill - Ink and Toner Coverage Calculator" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></a>
<!-- affiliate ads end -->
## Pros and Cons:

| **Pros**                                              | **Cons**                               |
| ----------------------------------------------------- | -------------------------------------- |
| Voice commands show amazing results                   | No RAW or WDR support for still images |
| Excellent video quality                               | Non-removable type battery             |
| Advanced Digital image stabilization feature included | GPS facility is not available          |
| Sensitive dual microphones are available              | No viewfinder                          |
| Waterproof (10m without case)                         | \-                                     |
| Compact size                                          | \-                                     |

<!-- affiliate ads begin -->
<a href="https://store.advancedwebranking.com/order/checkout.php?PRODS=4715051&QTY=1&AFFILIATE=108875&CART=1"><img src="https://secure.avangate.com/images/merchant/14edc6ebfdae2e23bbed83d67f50e983/products/33_awr%20logo.png" border="0"></a>
<!-- affiliate ads end -->
## Complete Review

#### What is inside the Box?

[If you are ready to buy GoPro Hero5 session Camera then you can expect following things with your device when you will unbox it:](https://tools.techidaily.com/wondershare/filmora/download/)

* [The box will have one standard frame.](https://tools.techidaily.com/wondershare/filmora/download/)
* [It comes with flat as well as curved adhesive mounts that allows users to capture scenes in all difficult locations.](https://tools.techidaily.com/wondershare/filmora/download/)
* [Mounting Buckle will be included.](https://tools.techidaily.com/wondershare/filmora/download/)
* [USB-C cable is added.](https://tools.techidaily.com/wondershare/filmora/download/)
* [Some video samples will be available.](https://tools.techidaily.com/wondershare/filmora/download/)

[Check at Amazon](https://www.amazon.com/gp/product/B01LZTLCFX/ref=as%5Fli%5Ftl?ie=UTF8&tag=vs-flora-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=B01LZTLCFX&linkId=ea1830f57bf7ee4f930b77258f8b3654
)

#### Design and Accessories

 The highlights related to design and accessories can be presented as:

* 38mm or 1.5” cube shaped design helps users in obstructive mounting.
* This device provides impressive results when connected to GoPro Karma Drone.
* It is waterproof up to 10m or 33 feet.
* USB-C charging facility is available but battery is fixed.

 The GoPro camera units are well known for their well shaped rectangular design but this session camera was launched with attractive cube shape. With just a single easy to operate button you can easily start and stop recording whereas tiny LCD panel helps to view recording on the go. This structure is less complicated and users can even change settings to preferable mode from Android or iOS device.

#### Video and Photo Quality

 Few highlights are:

* It serves with 4K resolution for videos.
* This device is designed with total five fields of view where 3 of these are introductory.
* 10MP stills can be captured at 30fps frame rate.

 With all pretty features, GoPro Hero5 Session provides 4K resolutions at 30fps rate whereas this rate can be increased up to 90fps in case of 1080p recording. You will be glad to know about its advanced digital stabilization feature and the most exciting part is its vibration mode that gets automatically switched On when you are about the start the camera or when you switch recording Off. You can also switch off the vibrations at the time of video recording to capture much smoother details. Even if you want to capture videos while riding a cycle then also this camera can result in breathtaking view because it possesses advanced wind noise reduction ability.

 Users are excited about its several field of view modes that are: Medium, Wide, Narrow, Linear and Super view. You will be surprised to know that this small camera unit can record videos in super view mode so that you can avail extra wide coverage. One more appreciable feature is its low light video shooting mode that can provide satisfactory results with perfect video quality support.

#### Connectivity and Apps

 Some of the incredible connectivity options along with app supports are discussed as below:

 **Wi-Fi:**

 This latest camera from GoPro is designed to serve users with active Wi-Fi and Bluetooth support. Users can also connect it with iOS and Android device using GoPro Capture Application that activates remote control feature. With this type of connectivity you can also adjust camera settings directly from your phone that means a live view of camera screen will be generated on your mobile device.

 **GoPro Plus:**

 This name is given to a latest cloud based subscription of GoPro series so that users can publish their recorded videos directly on internet. Whenever you plug-in your Hero5 devices whether it is session or black, this cloud based application will allow you to access photo or video uploading facility instantly. It makes use of Home Wi-Fi network to enable this uploading. After this your footage will get stored on GoPro Plus account and it can be easily accessed from official website of GoPro. These uploaded videos will also be accessible on mobile devices as well as on desktop with the help of Quick application.

 **Quick:**

 This application is designed for Mobile as well as desktop users and allows fast as well as efficient editing features for all recorded videos. Users simply need to select highlights and then they can be easily edited to embed music into them or just to cut or trim to match certain timing requirements. The content that is stored on GoPro Account can also be accessed from quick App on portable devices.

**Note** that Users can also try GoPro Plus application for two months without making any payment as manufacturers have provided a free trial version whereas for complete feature access you need to pay $5 per month.

<!-- affiliate ads begin -->
<a href="https://propmoneyinc.pxf.io/c/5597632/1803116/14559" target="_top" id="1803116"><img src="//a.impactradius-go.com/display-ad/14559-1803116" border="0" alt="" width="859" height="859"/></a><img height="0" width="0" src="https://imp.pxf.io/i/5597632/1803116/14559" style="position:absolute;visibility:hidden;" border="0" />
<!-- affiliate ads end -->
## The Bottom Line

 Some of you may say that GroPro Hero5 Session is not having all fancy features but it is one of the most widely purchases action camera unit in market. This is simply the best device at reasonable price range and the video as well as image quality is amazing. The cube shape of this device is really attractive with tiny body that you can carry anywhere with ease. It is time to order your Hero5 session device online and soon you will be able to record your all adventurous trips with awesome capture quality. The waterproof and damage proof construction is itself an edge over all competing devices.

<!-- affiliate ads begin -->
<a href="https://secure.2checkout.com/order/checkout.php?PRODS=35038891&QTY=1&AFFILIATE=108875&CART=1"><img src="https://www.dupinout.com/wp-content/uploads/2021/12/DupInOut-New-Duplicate-Scan-Tab.png" border="0"></a>
<!-- affiliate ads end -->
![author avatar](https://images.wondershare.com/filmora/article-images/max-wales-author.jpg)

Max Wales

Max Wales is a writer and a lover of all things video.

Follow @Max Wales

<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="autorelaxed"
     data-ad-client="ca-pub-7571918770474297"
     data-ad-slot="1223367746"></ins>

<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="autorelaxed"
     data-ad-client="ca-pub-7571918770474297"
     data-ad-slot="1223367746"></ins>



<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7571918770474297"
     data-ad-slot="8358498916"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>





<span class="atpl-alsoreadstyle">Also read:</span>
<div><ul>
<li><a href="https://some-techniques.techidaily.com/new-exploring-the-fundamentals-of-av1-encoding/"><u>[New] Exploring the Fundamentals of AV1 Encoding</u></a></li>
<li><a href="https://some-techniques.techidaily.com/new-feathered-salsa-dancer/"><u>[New] Feathered Salsa Dancer</u></a></li>
<li><a href="https://some-techniques.techidaily.com/new-free-mindfulness-playlist/"><u>[New] Free Mindfulness Playlist</u></a></li>
<li><a href="https://some-techniques.techidaily.com/new-how-to-sing-your-own-song-with-an-iphone-ringtone/"><u>[New] How to Sing Your Own Song with an iPhone Ringtone</u></a></li>
<li><a href="https://eaxpv-info.techidaily.com/new-in-2024-guide-to-livecasting-google-meet-on-youtube/"><u>[New] In 2024, Guide to Livecasting Google Meet on YouTube</u></a></li>
<li><a href="https://facebook-record-videos.techidaily.com/new-the-key-to-successful-collaborations-in-the-digital-age/"><u>[New] The Key to Successful Collaborations in the Digital Age</u></a></li>
<li><a href="https://instagram-video-recordings.techidaily.com/new-the-zoomers-guide-to-instagram-story-clarity/"><u>[New] The Zoomer’s Guide to Instagram Story Clarity</u></a></li>
<li><a href="https://some-techniques.techidaily.com/updated-flip-through-twitch-feeds-without-pause/"><u>[Updated] Flip Through Twitch Feeds Without Pause</u></a></li>
<li><a href="https://some-techniques.techidaily.com/updated-future-of-animation-unveiled-selection-of-state-of-the-art-modelling-apps/"><u>[Updated] Future of Animation Unveiled  Selection of State-of-the-Art Modelling Apps</u></a></li>
<li><a href="https://some-techniques.techidaily.com/updated-how-to-design-a-post-that-sparks-wide-scale-interest-in-fb-giving/"><u>[Updated] How to Design a Post That Sparks Wide-Scale Interest in FB Giving</u></a></li>
<li><a href="https://some-techniques.techidaily.com/updated-innovative-8th-generation-photographic-fusion-app/"><u>[Updated] Innovative 8Th Generation Photographic Fusion App</u></a></li>
<li><a href="https://fox-blue.techidaily.com/2024-approved-elite-chipsets-your-guide-to-uhd-rendering/"><u>2024 Approved  Elite Chipsets  Your Guide to UHD Rendering</u></a></li>
<li><a href="https://some-techniques.techidaily.com/2024-approved-face-to-face-video-glitch-9-quick-fixes-for-fir-chrome-safari-users/"><u>2024 Approved  Face-to-Face Video Glitch  9 Quick Fixes for Fir, Chrome, Safari Users</u></a></li>
<li><a href="https://some-techniques.techidaily.com/2024-approved-find-the-best-online-subtitle-converters-for-no-cost/"><u>2024 Approved  Find the Best Online Subtitle Converters for No Cost</u></a></li>
<li><a href="https://some-techniques.techidaily.com/2024-approved-freedomforsounders-review-extraction-excellence/"><u>2024 Approved  FreedomForSounders Review  Extraction Excellence</u></a></li>
<li><a href="https://some-techniques.techidaily.com/2024-approved-high-fidelity-webcams-for-professional-podcasting/"><u>2024 Approved  High-Fidelity Webcams for Professional Podcasting</u></a></li>
<li><a href="https://some-techniques.techidaily.com/2024-approved-how-to-innovate-your-podcast-previews-and-trailers/"><u>2024 Approved  How to Innovate Your Podcast Previews and Trailers</u></a></li>
<li><a href="https://some-techniques.techidaily.com/2024-approved-infinite-storage-horizon-your-guide-to-free-and-premium-cloud-services/"><u>2024 Approved  Infinite Storage Horizon  Your Guide to Free & Premium Cloud Services</u></a></li>
<li><a href="https://some-skills.techidaily.com/2024-approved-upgrade-your-photo-edits-the-ultimate-guide-to-pixlr-power/"><u>2024 Approved  Upgrade Your Photo Edits  The Ultimate Guide to Pixlr Power</u></a></li>
<li><a href="https://youtube-video-recordings.techidaily.com/a-quick-guide-to-chroma-key-background-for-2024/"><u>A Quick Guide to Chroma Key Background for 2024</u></a></li>
<li><a href="https://facebook-video-recording.techidaily.com/a-streamers-companion-roku-plus-facebook-live-explained/"><u>A Streamer's Companion  ROKU + Facebook Live Explained</u></a></li>
<li><a href="https://some-techniques.techidaily.com/galaxy-s8s-ultra-hd-experience-unveiled-for-2024/"><u>Galaxy S8's Ultra HD Experience Unveiled for 2024</u></a></li>
<li><a href="https://some-techniques.techidaily.com/generate-laughter-kapwings-meme-creator-for-2024/"><u>Generate Laughter  Kapwing's Meme Creator for 2024</u></a></li>
<li><a href="https://some-techniques.techidaily.com/gif-wizardry-10-tools-to-ignite-your-creative-spark-for-2024/"><u>GIF Wizardry  10 Tools to Ignite Your Creative Spark for 2024</u></a></li>
<li><a href="https://some-techniques.techidaily.com/high-resolution-sky-photography-10-preferred-pages-for-2024/"><u>High-Resolution Sky Photography  10 Preferred Pages for 2024</u></a></li>
<li><a href="https://some-techniques.techidaily.com/how-many-seconds-is-a-20mb-video-in-2024/"><u>How Many Seconds Is a 20Mb Video, In 2024</u></a></li>
<li><a href="https://tiktok-clips.techidaily.com/in-2024-enhancing-heads-in-tiktok-videos-3-efficient-techniques/"><u>In 2024, Enhancing Heads in TikTok Videos  3 Efficient Techniques</u></a></li>
<li><a href="https://some-techniques.techidaily.com/in-2024-gross-income-strategies-for-podcasters/"><u>In 2024, Gross Income Strategies for Podcasters</u></a></li>
<li><a href="https://some-skills.techidaily.com/in-2024-the-ultimate-iphone-guide-for-shooting-hdr-photos/"><u>In 2024, The Ultimate iPhone Guide for Shooting HDR Photos</u></a></li>
<li><a href="https://ai-driven-video-production.techidaily.com/new-2024-approved-get-started-with-linux-on-your-chromebook-a-comprehensive-installation-guide/"><u>New 2024 Approved Get Started with Linux on Your Chromebook A Comprehensive Installation Guide</u></a></li>
<li><a href="https://extra-information.techidaily.com/premier-picks-the-ultimate-8-tripods-for-4k-photography/"><u>Premier Picks  The Ultimate 8 Tripods for 4K Photography</u></a></li>
<li><a href="https://screen-capture.techidaily.com/speakers-file-download-inspect-for-2024/"><u>Speaker's File Download, Inspect for 2024</u></a></li>
</ul></div>
